<p id="notice"><%= notice %></p>

<p>
  <strong>Listnumber:</strong>
  <%= @list.listnumber %>
  
<table>
  <thead>
    <tr>	
      <th>Orderid</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Size</th>
      <th>Cut?</th>
    </tr>
  </thead>

  <tbody>
    <% @list.cuts.each do |cut| %>
      <tr>
        <td><%= cut.orderid %></td>
        <td><%= cut.product %></td>
        <td><%= cut.size %></td>
        <td><%= cut.quantity %></td>
	<td><%= cut.done ? "YES" : "NO" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<p><%= link_to "Printable List (PDF)", list_path(@list, format: "pdf") %></p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
